@import "reset";
$distance: -4rem;

body {
    background: #777;
    height: 100vh;
    display: grid;

    /* Seleciona os elementos da grid no centro*/
    place-items: center;
    overflow: hidden;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    transition: 0.5s;
    padding: 1rem;
    background: white;
    border-radius: 1rem;
    margin-left: -2rem;
    box-shadow: 4px 4px 12px 2px rgba($color: #000000, $alpha: 0.75);
}

.card:not(:first-child) {
    margin-left: $distance;
}

.card:hover {
    transform: translateY(-1rem);
}

.card:hover~.card {
    transform: translateX(4rem);
}